<h2>My Heroes</h2>

<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <!-- TODO: Add input validation here so that user can only type in 1 - 200 -->
  <label for="new-hero">Hero age: </label>
  <input id="new-hero" #heroAge />

  <!-- (click) passes input value to add() and then clears the input 
       + converts heroAge.value from string to number
  -->
  <button type="button" class="add-button" (click)="add(heroName.value, +heroAge.value); heroName.value=''">
    Add hero
  </button>
</div>
<app-hero-table #heroTable></app-hero-table>
